.venv/
__pycache__/
.pytest_cache/
*.pyc

*.egg-info/
build/
dist/

results/
data/*
!data/conditions_experiment.csv
!data/conditions_experiment_example.csv
!data/.gitkeep
*.parquet
*.arrow
*.feather

# Models (we WILL track models/model.xml for server portability)
models/*
*.xml
!models/model.xml
!models/.gitkeep

